<?xml version="1.0" encoding="UTF-8"?><!-- 환경설정 파일들/db를 연결하기위한 jdbc Tool -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 카멜케이스 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="member" type="com.home.member.vo.MemberVO" />
		<typeAlias alias="orders" type="com.home.orders.vo.OrderVO" />
		<typeAlias alias="product" type="com.home.product.vo.ProductVO" />
	</typeAliases>
	
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC" />
				<dataSource type="POOLED">
					<property name="driver"
						value="oracle.jdbc.driver.OracleDriver" />
					<property name="url"
						value="jdbc:oracle:thin:@localhost:1521:xe" />
					<property name="username" value="kde" />
					<property name="password" value="1234" />
				</dataSource>
			</environment>
		</environments>
		
		<mappers>
			<mapper resource="com/home/member/mapper/MemberMapper.xml" />
			<mapper resource="com/home/orders/mapper/OrderMapper.xml" />
			<mapper resource="com/home/product/mapper/ProductMapper.xml" />
		</mappers>
</configuration>