<?xml version="1.0" encoding="UTF-8"?> <!--jdbc클래스 구현위해 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.product.mapper.ProductMapper">

	<select id="productList" resultType="product">
		select * 
		from product
		order by prod_no
	</select>
	
	<select id="selectProduct" parameterType="int" resultType="product">
		select *
		from product
		where prod_no = #{prodNo}
	</select>
	
	<insert id="insertProduct" parameterType="product">
		insert into product(prod_no, prod_name, prod_price, prod_ex, prod_img)
		values (product_seq.nextval, #{prodName}, #{prodPrice}, #{prodEx}, #{prodImg})
	</insert>
	
	<update id="updateProduct" parameterType="product">
		update product
		set prod_name = #{prodName}, prod_price = #{prodPrice}, prod_ex = #{prodEx}, prod_img = #{prodImg}
		where prod_no = #{prodNo}
	</update>
	
	<delete id="deleteProduct" parameterType="int">
		delete from product where prod_no = #{prodNo}
	</delete>

</mapper>