<?xml version="1.0" encoding="UTF-8"?> <!--jdbc클래스 구현위해 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">

	<select id="boardList" resultType="board"> <!-- resultType는 return반환 -->
		select * from tbl_boards <!--db안쓰고 쿼리 이용해서 db내용 가져오는거인듯 -->
		order by board_no
	</select>

	<insert id="insertBoard" parameterType="board">
		insert into tbl_boards
		(board_no, title, content, writer)
		values (boards_seq.nextval,
		#{title}, #{content}, #{writer})
	</insert>

	<select id="selectBoard" parameterType="int" resultType="board">
		select *
		from tbl_boards
		where board_no = #{boardNo}
	</select>

	<update id="updateViewCnt" parameterType="int">
		update tbl_boards
		set
		view_cnt = view_cnt + 1
		where board_no = #{boardNo}
	</update>

	<update id="updateBoard" parameterType="board">
		update tbl_boards
		set
		title = #{title}
		,content = #{content}
		where board_no = #{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from tbl_boards
		where board_no = #{boardNo}
	</delete>

</mapper>