<?xml version="1.0" encoding="UTF-8"?> <!--jdbc클래스 구현위해 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<select id="replyList" resultType="com.yedam.vo.ReplyVO">
		select *
		from tbl_replyes
		where board_no = #{boardNo }
		order by reply_no
	</select>
	
	<select id="replyListPaging" resultType="com.yedam.vo.ReplyVO" parameterType="com.yedam.common.SearchVO">
		select r.*
		from (select rownum rn, a.*
				from (select *
						from tbl_replyes
						where board_no = #{boardNo}
						order by reply_no desc) a
						<![CDATA[
						where rownum <= (#{rpage} * 5)) r				
						]]>
		where r.rn > (#{rpage} - 1) * 5
	</select>
	
	<delete id="deleteReply" parameterType="int">
		delete from tbl_replyes
		where reply_no = #{replyNo }
	</delete>
	
	<insert id="insertReply" parameterType="com.yedam.vo.ReplyVO">
		<selectKey resultType="int" keyProperty="replyNo" order="BEFORE">
			select replyes_seq.nextval from dual
		</selectKey>
		insert into tbl_replyes(reply_no,reply, replyer, board_no)
		values (replyes_seq.nextval, #{reply }, #{replyer }, #{boardNo })	
	</insert>
	
	<select id="selectCount" resultType="int">
		select count(1) from tbl_replyes
		where board_no = #{boardNo}
	</select>
	
	<update id="updateReply" parameterType="com.yedam.vo.ReplyVO">
		update tbl_replyes
		set reply = #{reply}
		where reply_no = #{replyNo}
	</update>
	
	<!-- 장바구니 목록 가져오기 -->
	<select id="selectList" resultType="com.yedam.vo.CartVO">
		select *
		from tbl_cart
		order by no
	</select>
	
	<update id="updateCart" parameterType="com.yedam.vo.CartVO">
		update tbl_cart
		set qty = qty + #{qty}
		where no = #{no}
	</update>
	
	<delete id="deleteCart" parameterType="int">
		delete from tbl_cart
		where no = #{no}
	</delete>
	
	<insert id="insertCenter" >
		insert into tbl_centers(id, center_name, sido, phone_number, address, center_type)
		<foreach collection="array" item="center" 
				open=" select " separator=" from dual union all select " close=" from dual">
			#{center.id}, #{center.centerName}, #{center.sido}, #{center.phoneNumber}, #{center.address}, #{center.centerType}
		</foreach>
	</insert>
	
</mapper>