<?xml version="1.0" encoding="UTF-8"?><!-- 환경설정 파일들/db접속기능..? -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="emp" type="com.yedam.vo.EmployeeVO" />
	</typeAliases>
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC" />
				<dataSource type="POOLED">
					<property name="driver"
						value="oracle.jdbc.driver.OracleDriver" />
					<property name="url"
						value="jdbc:oracle:thin:@GRAM:1521:xe" /> <!-- localhost / GRAM -->
					<property name="username" value="jsp" />
					<property name="password" value="jsp" />
				</dataSource>
			</environment>
		</environments>
		<mappers>
			<mapper resource="com/yedam/mapper/EmpMapper.xml" />
		</mappers>
</configuration>