<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.home.member.mapper.MemberMapper">
    <level value="debug"/>
  </logger>

  <logger name="com.home.orders.mapper.OrderMapper">
    <level value="debug"/>
  </logger>
  
  <logger name="com.home.product.mapper.ProductMapper">
    <level value="debug"/>
  </logger>
  
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>